@charset "utf-8";

/* css */

body,
form,
fieldset,
legend,
ul,
ol,
dl,
dd,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
input {
    padding: 0;
    margin: 0;
}

html {
    /* font-size: 100px; */
}

body {
    font-family: "微软雅黑";
    font-size: 14px;
}

i,
em {
    font-style: normal;
}

b,
strong {
    font-weight: normal;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    border: 0;
    vertical-align: middle;
}

input {
    outline: none;
    border: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear::after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}


/* 字体图标 */

@font-face {
    font-family: 'iconfont';
    src: url('../font/iconfont.eot');
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), url('../font/iconfont.woff2') format('woff2'), url('../font/iconfont.woff') format('woff'), url('../font/iconfont.ttf') format('truetype'), url('../font/iconfont.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.ellipsis_tag {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}